.navbar{
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0px;
    // background-color: var(--main-color);
    z-index: 999;
    //background: linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 0.3) 50%);
    background: linear-gradient(to top, transparent 20%, rgba(0, 0, 0, 0.7), rgba(37, 34, 34, 0));

    &.scrolled{
        background-color: var(--main-color);
    }

    .container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        
      .left {
        display: flex;
        align-items: center;
        img{
            height: 25px;
            margin-right: 40px;
        }
      }

      span{
        margin-right: 20px;
        cursor: pointer;
      }

      .right {
        display: flex;
        align-items: center;

        .icon{
            margin: 0px 15px;
            cursor: pointer;
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
        }

        .profile {
          .option {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }
          span{
            padding: 10px;
            cursor: pointer;
          }

          &:hover{
            .option{
                display: flex;
                flex-direction: column;
                position: absolute;
            }
          }
        }
      }
      
    }
}